<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css')}}">
    <title>Document</title>
</head>
<body>
  <div class="container">
      <form action method="POST" id="todoform" >
        <p>Enter message here:<input type = "text" name ="todo" id="todo"></p>
        <button type="submit">submit</button>
    </form>
    <div class="messagebox">
      <h1>Your chats will appear here:</h1>
        <div class="message"></div>
    </div>
  </div>
    


    <script type="text/javascript">
         $(document).on('submit','#todoform',function(e)
                   {
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/result',
        data:{
          user_input:$("#todo").val()
          },
        success:function(data1)
        {
          console.log(data1)
        $('div.message').append('<div>'+"YOU: "+data1.var2+'</div>')
        $('div.message').append('<div>'+"BOT: "+data1.var1+'</div>')
        }
      })
    });
        
        
    </script>

  </body>
  </html>

 